@charset "UTF-8";

html {
    height: auto;
    min-height: 100%;
}

body {
    height: auto;
    min-height: 100%;
    min-width: 1366px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}

.main-wrapper {
    height: auto;
    min-height: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

header {
    display: block;
    background-color: #ecf0f5;
}

.main-header {
    display: block;
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.site-title {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue", Helvetica, Arial, ans-serif;
    font-weight: 300;
    overflow: hidden;
    text-decoration: none;
}

.customer-menu-main {
    float: right;
    margin-top: -50px;
}

.customer-menu-dropdown {
    float: left;
    margin: 0;
    list-style: none;
}

.customer-menu-dropdown::before {
    display: table;
    content: " ";
}

.customer-menu-dropdown-title {
    position: relative;
    float: left;
    display: block;
    background-color: #3c8dbc;
}

.customer-menu-dropdown-title-text:hover {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}

.customer-menu-dropdown-title-text {
    color: #fff;
    line-height: 20px;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.customer-menu-dropdown-list {
    position: absolute;
    right: 0;
    left: auto;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    border-color: #eee;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    margin-top: -10px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-top-color: rgba(0, 0, 0, 0.15);
    border-right-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.customer-menu-dropdown-list-open {
    display: block;
}

.customer-menu-dropdown-list-item > a {
    color: #777;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    text-decoration: none;
}

.customer-menu-dropdown-list-item > a:hover {
    background-color: #e1e3e9;
    color: #333;
    text-decoration: none;
    outline: none;
}

.customer-menu-dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.left-menu-sidebar {
    float: left;
    position: absolute;
    display: block;
    background-color: #222d32;
    top: 0;
    left: 0;
    margin-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.menu-sidebar-item {
    height: auto;
    padding-bottom: 10px;
    display: block;
}

.sidebar-menu-table {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu-table > li.sidebar-menu-click {
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.sidebar-menu-table > li > a {
    border-left: 3px solid transparent;
    color: #b8c7ce;
    background: #1e282c;
    padding: 12px 5px 12px 15px;
    display: block;
    text-decoration: none;
}

.sidebar-menu-table > li.active > a {
    color: #fff;
    font-weight: bold;
}

.sidebar-menu-click-circle-o::before {
    content: "\f10c";
}

.sidebar-menu-click-circle-o {
    width: 20px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-menu-click-text-red {
    color: #dd4b39 !important
}

.sidebar-menu-click-text-yellow {
    color: #f39c12 !important
}

.sidebar-menu-click-text-aqua {
    color: #00c0ef !important
}

.sidebar-menu-click-text-blue {
    color: #0073b7 !important
}

.sidebar-menu-click-text-black {
    color: #111 !important
}

.sidebar-menu-click-text-light-blue {
    color: #3c8dbc !important
}

.sidebar-menu-click-text-green {
    color: #00a65a !important
}

.sidebar-menu-click-text-gray {
    color: #d2d6de !important
}

.sidebar-menu-click-text-navy {
    color: #001F3F !important
}

.sidebar-menu-click-text-teal {
    color: #39CCCC !important
}

.sidebar-menu-click-text-olive {
    color: #3D9970 !important
}

.sidebar-menu-click-text-lime {
    color: #01FF70 !important
}

.right-content-wrapper {
    min-height: calc(100vh);
    background-color: #ecf0f5;
    z-index: 800;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
}

.content-area-hidden {
    display: none;
}

.product-list {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
}

.product-item-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.product-list-content {
    margin-left: 5px;
    margin-right: 5px;
}

.product-list-content::before {
    display: table;
    content: " ";
}

.product-content-table {
    width: 100%;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    border-spacing: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.product-content-table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.product-content-table > thead > tr > th {
    vertical-align: bottom;
    padding: 8px;
    line-height: 1.42857143;
}

table.product-content-table th {
    border-left-width: 0;
}

.product-content-table > thead > tr > th {
    border-bottom-width: 2px;
    border: 1px solid #f4f4f4;
}

table.table-sorting_disabled th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #f4f4f4;
}

th {
    text-align: left;
}

table.table-sorting_disabled {
    border-collapse: separate !important;
}

.product-content-table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.product-content-table > tbody > tr > td {
    border: 1px solid #f4f4f4;
}

.purchase-product-button {
    margin-left: 5%;
    margin-top: 5px;
    background-color: #00acd6;
    color: #fff;
    border-color: #269abc;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.purchase-product-button:hover {
    background-color:#00acd6;
    color: #333;
    border-color: #adadad;
    text-decoration: none;
}

.product-modal {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: opacity .15s linear;
    padding: 0;
    margin: 0;
}

.modal-hidden {
    display: none;
}

.product-modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
    width: 900px;
    margin: 30px auto;
    position: relative;
    margin-top: 180px;
}

.product-modal-dialog-content {
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    box-shadow: 0 2px 3px rgba(0,0,0,0.125);
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    outline: 0;
}

.product-modal-dialog-header {
    border-bottom-color: #f4f4f4;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.product-modal-dialog-header::before  {
    display: table;
    content: " ";
    box-sizing: border-box;
}

.product-modal-dialog-header::after  {
    display: table;
    content: " ";
    box-sizing: border-box;
}

.product-modal-dialog-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.product-modal-dialog-body {
    position: relative;
    padding: 15px;
}

.product-dialog-item {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
}

.product-dialog-item-name::before {
    display: table;
    content: " ";
    box-sizing: border-box;
}

.product-dialog-item-name {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    max-width: 100%;
    font-weight: 700;
}

.product-dialog-item-name-star {
    color: red;
}

.product-dialog-item-content {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.product-dialog-item-content-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin: 0;
}

.product-dialog-item-info {
    margin-top: 8px;
}

.product-dialog-item-content-text {
    width: 100%;
    height: 96px;
    margin-bottom: 15px;
    resize: none;
}

.product-dialog-item-content-remark {
    width: 60%;
}

.product-modal-dialog-body-last {
    margin-bottom: 90px;
}

hr {
    border-top: 1px solid #555;
}

.product-dialog-button {
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-dialog-button-list {
    margin: auto;
    width: 176px;
}

.product-dialog-button-ok {
    color: #fff;
    background-color: #3c8dbc;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: button;
    overflow: visible;
}

.product-dialog-button-ok:hover {
    color: #fff;
    border-color: #204d74;
    text-decoration: none;
    background-color: #367fa9;
}

.product-dialog-button-cancel {
    margin-left: 10px;
    background-color: #e7e7e7;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: button;
    overflow: visible;
}

.product-dialog-button-cancel:hover {
    color: #333;
    border-color: #adadad;
    text-decoration: none;
}

.balance-info-main {
    margin: auto;
    width: 300px;
}

.balance-info-detail::before {
    display: table;
    content: " ";
}

.balance-info-detail {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.balance-info-name {
    float: left;
    width: 50%;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.balance-info-value {
    float: left;
}

.account-credit-toolbar {
    width: 100%;
}

.account-credit-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    display: block;
    float: left;
    width: 200px;
    height: 28px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin: 0;
}

.account-credit-button {
    background-color: #00a65a;
    border-color: #008d4c;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    display: block;
    float: right;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
}

.account-credit-button:hover {
    background-color: #008d4c;
    color: #fff;
    border-color: #398439;
    text-decoration: none;
}